@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    background-color: #eaeff2;
}

.container {
    margin: 5%;
    height: 75vh;
    width: 20vw;
    overflow: hidden;
    border-radius: 15px;
    background-color: #ffffff;
}

.image1 {
    height: 50%;
    width: 90%;
    margin: 10px auto;
    border-radius: 12px;

    
}
.image1 img {
    height: 100%;
    width: 100%;
    background-size: cover;
    border-radius: 12px;
}
.cat_text {
    height: 4vh;
    width: auto;
    overflow: hidden;
    border-radius: 20px;
    padding: 0 10px;
    margin: 5px 5px 0px 5px;
    background-color: #ffffff;
    border: 2px solid rgb(201, 201, 201) 
}
.category {
    position: relative;
    display: flex;
    margin-left: 10px;
    justify-content: start;
    align-items: center;
    background-color: #ffffff;
}
.title{
    padding: 0;
    font-weight: 500;
}
.desc{
    color: black;
    background-color: blue;
}
